

body {
  font-family: Helvetica, Arial, sans-serif;
  padding:0;
  text-align: center;
  font-size:16pt;
  position: relative;
}

div {
  margin:0;
  padding:0;
}

h1 {
  font-size: 20pt;
}

p {
  margin:0;
  padding:0;
}

#header {
  margin:10px 0 10px 0;
}

#scene {
  clear:both;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

